.App-header {
  margin: 0px;
  padding: 40px;
  text-align: center;
}

.App-footer {
  text-align: center;
  margin: 10px;
  line-height: 18px;
  text-align: center;
}

.App {
  max-width: 1000px;
  display: flex;
  position: relative;
  margin: auto;
  width: 80%;
}

.App::before {
  content: "";
  background: url("https://images.pexels.com/photos/2527559/pexels-photo-2527559.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  filter: brightness(1.25);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}
