.Dictionary h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: white;
  padding: 30px;
  opacity: 0.9;
  border-radius: 8px;
  margin: 10px 90px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 6px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
