.Phonetic {
  margin: 15px 0;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 10px;
  font-weight: bold;
}

.Phonetic .fa-play-circle {
  border: 1px solid #949191;
  border-radius: 40px;
  margin: 5px 5px 0 0;
  font-size: 20px;
  padding: 5px;
  transition: all 150ms ease-in-out;
}

.Phonetic .fa-play-circle:hover {
  cursor: pointer;
  color: #949191;
}

.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
}
